In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("F:\\New folder\\ML\\CSV files\\Attrition.csv")
df.head(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [5]:
df.shape

(1470, 35)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [6]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

## Encoding

## (1) Label Encoding

In [8]:
df=df.dropna()

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
lb=LabelEncoder()

In [15]:
df["Attrition"]=lb.fit_transform(df['Attrition'])
df["BusinessTravel"]=lb.fit_transform(df['BusinessTravel'])
df["Department"]=lb.fit_transform(df['Department'])
df["EducationField"]=lb.fit_transform(df['EducationField'])
df["Gender"]=lb.fit_transform(df['Gender'])
df["JobRole"]=lb.fit_transform(df['JobRole'])
df["MaritalStatus"]=lb.fit_transform(df['MaritalStatus'])
df["Over18"]=lb.fit_transform(df['Over18'])
df["OverTime"]=lb.fit_transform(df['OverTime'])

In [17]:
df.sample(10)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attriton
639,49,0,2,1418,1,1,3,5,1,887,...,80,1,7,2,3,4,2,0,2,0
1147,49,0,2,722,1,25,4,1,1,1617,...,80,1,10,3,2,9,6,1,4,0
486,37,0,2,558,2,2,3,2,1,656,...,80,1,17,3,2,3,0,1,0,0
985,31,1,2,330,1,22,4,3,1,1389,...,80,2,10,3,2,10,2,6,7,1
160,22,0,2,1256,1,19,1,3,1,217,...,80,2,2,6,3,2,2,2,2,0
559,38,0,2,268,1,2,5,3,1,773,...,80,1,6,0,1,1,0,0,1,0
831,31,1,1,874,1,15,3,3,1,1160,...,80,1,2,5,2,2,2,2,2,1
1154,47,0,2,1176,0,26,4,1,1,1625,...,80,1,27,2,3,5,2,1,0,0
629,28,0,2,1169,0,8,2,3,1,869,...,80,1,6,6,3,5,1,0,4,0
624,53,0,2,661,2,7,2,2,1,862,...,80,1,35,3,3,5,2,0,4,0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   int32
 2   BusinessTravel            1470 non-null   int64
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   int64
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   int64
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   int64
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   int64
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   int64
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   int64
 22  OverTime                  1470 non-null   int64
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
 35  Attriton                  1470 non-null   int32
dtypes: int32(2), int64(34)
memory usage: 402.1 KB

In [19]:
from sklearn.preprocessing import StandardScaler

In [20]:
sc=StandardScaler()
df_sc=sc.fit_transform(df)

In [21]:
df_new=pd.DataFrame(df_sc,columns=df.columns)

In [22]:
np.round(df.describe(),1)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attriton
count,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,...,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0
mean,36.9,0.2,1.6,802.5,1.3,9.2,2.9,2.2,1.0,1024.9,...,80.0,0.8,11.3,2.8,2.8,7.0,4.2,2.2,4.1,0.2
std,9.1,0.4,0.7,403.5,0.5,8.1,1.0,1.3,0.0,602.0,...,0.0,0.9,7.8,1.3,0.7,6.1,3.6,3.2,3.6,0.4
min,18.0,0.0,0.0,102.0,0.0,1.0,1.0,0.0,1.0,1.0,...,80.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
25%,30.0,0.0,1.0,465.0,1.0,2.0,2.0,1.0,1.0,491.2,...,80.0,0.0,6.0,2.0,2.0,3.0,2.0,0.0,2.0,0.0
50%,36.0,0.0,2.0,802.0,1.0,7.0,3.0,2.0,1.0,1020.5,...,80.0,1.0,10.0,3.0,3.0,5.0,3.0,1.0,3.0,0.0
75%,43.0,0.0,2.0,1157.0,2.0,14.0,4.0,3.0,1.0,1555.8,...,80.0,1.0,15.0,3.0,3.0,9.0,7.0,3.0,7.0,0.0
max,60.0,1.0,2.0,1499.0,2.0,29.0,5.0,5.0,1.0,2068.0,...,80.0,3.0,40.0,6.0,4.0,40.0,18.0,15.0,17.0,1.0

In [23]:
np.round(df_new.describe(),1)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attriton
count,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,...,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0
mean,-0.0,0.0,-0.0,0.0,-0.0,0.0,0.0,0.0,0.0,-0.0,...,0.0,0.0,-0.0,0.0,-0.0,-0.0,0.0,0.0,-0.0,0.0
std,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
min,-2.1,-0.4,-2.4,-1.7,-2.4,-1.0,-1.9,-1.7,0.0,-1.7,...,0.0,-0.9,-1.5,-2.2,-2.5,-1.1,-1.2,-0.7,-1.2,-0.4
25%,-0.8,-0.4,-0.9,-0.8,-0.5,-0.9,-0.9,-0.9,0.0,-0.9,...,0.0,-0.9,-0.7,-0.6,-1.1,-0.7,-0.6,-0.7,-0.6,-0.4
50%,-0.1,-0.4,0.6,-0.0,-0.5,-0.3,0.1,-0.2,0.0,-0.0,...,0.0,0.2,-0.2,0.2,0.3,-0.3,-0.3,-0.4,-0.3,-0.4
75%,0.7,-0.4,0.6,0.9,1.4,0.6,1.1,0.6,0.0,0.9,...,0.0,0.2,0.5,0.2,0.3,0.3,0.8,0.3,0.8,-0.4
max,2.5,2.3,0.6,1.7,1.4,2.4,2.0,2.1,0.0,1.7,...,0.0,2.6,3.7,2.5,1.8,5.4,3.8,4.0,3.6,2.3

In [24]:
df1=pd.read_csv("F:\\New folder\\ML\\CSV files\\Attrition.csv")
df1.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7

In [25]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [26]:
mn = MinMaxScaler()

In [27]:
x = df.drop(columns = ['Age'] , axis = 1)  
y = df['Age']

In [28]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [29]:
sc = StandardScaler()

In [30]:
x_train_sc = sc.fit_transform(x_train)

In [31]:
x_train_sc

array([[-0.44994887,  0.58928051, -1.10813858, ..., -0.67610953,
        -1.14244794, -0.44994887],
       [-0.44994887, -2.46355596, -1.2634814 , ..., -0.67610953,
        -1.14244794, -0.44994887],
       [-0.44994887,  0.58928051,  1.10364737, ..., -0.67610953,
        -0.57508359, -0.44994887],
       ...,
       [ 2.22247473, -0.93713773,  1.1258392 , ..., -0.67610953,
        -1.14244794,  2.22247473],
       [-0.44994887,  0.58928051,  1.42666182, ..., -0.67610953,
        -0.29140142, -0.44994887],
       [-0.44994887,  0.58928051, -1.32019386, ..., -0.67610953,
        -1.14244794, -0.44994887]])

In [32]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [33]:
np.round(x_train_new.describe() , 1)

,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attriton
count,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,...,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0
mean,-0.0,-0.0,-0.0,-0.0,0.0,-0.0,-0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-0.0,-0.0,0.0,0.0,-0.0,-0.0,-0.0
std,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
min,-0.4,-2.5,-1.7,-2.4,-1.0,-1.8,-1.7,0.0,-1.7,-1.6,...,0.0,-0.9,-1.4,-2.2,-2.5,-1.1,-1.2,-0.7,-1.1,-0.4
25%,-0.4,-0.9,-0.8,-0.5,-0.9,-0.9,-0.9,0.0,-0.9,-0.6,...,0.0,-0.9,-0.7,-0.6,-1.1,-0.6,-0.6,-0.7,-0.6,-0.4
50%,-0.4,0.6,-0.0,-0.5,-0.3,0.1,-0.2,0.0,-0.0,0.3,...,0.0,0.2,-0.1,0.2,0.4,-0.3,-0.3,-0.4,-0.3,-0.4
75%,-0.4,0.6,0.9,1.4,0.6,1.1,0.6,0.0,0.9,1.2,...,0.0,0.2,0.5,0.2,0.4,0.5,0.8,-0.0,0.8,-0.4
max,2.2,0.6,1.7,1.4,2.4,2.0,2.1,0.0,1.7,1.2,...,0.0,2.5,3.7,2.5,1.8,5.4,3.8,4.1,3.7,2.2

In [34]:
x_train_mn = mn.fit_transform(x_train)

In [35]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [36]:
np.round(x_train.describe() , 1)

,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attriton
count,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,...,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0
mean,0.2,1.6,799.4,1.3,9.3,2.9,2.2,1.0,1028.3,2.7,...,80.0,0.8,11.1,2.8,2.8,6.9,4.2,2.1,4.0,0.2
std,0.4,0.7,405.7,0.5,8.2,1.0,1.3,0.0,607.6,1.1,...,0.0,0.9,7.8,1.3,0.7,6.1,3.6,3.1,3.5,0.4
min,0.0,0.0,102.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,...,80.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
25%,0.0,1.0,464.0,1.0,2.0,2.0,1.0,1.0,492.8,2.0,...,80.0,0.0,6.0,2.0,2.0,3.0,2.0,0.0,2.0,0.0
50%,0.0,2.0,796.5,1.0,7.0,3.0,2.0,1.0,1018.0,3.0,...,80.0,1.0,10.0,3.0,3.0,5.0,3.0,1.0,3.0,0.0
75%,0.0,2.0,1157.2,2.0,14.0,4.0,3.0,1.0,1569.8,4.0,...,80.0,1.0,15.0,3.0,3.0,10.0,7.0,2.0,7.0,0.0
max,1.0,2.0,1496.0,2.0,29.0,5.0,5.0,1.0,2068.0,4.0,...,80.0,3.0,40.0,6.0,4.0,40.0,18.0,15.0,17.0,1.0

In [37]:
np.round(x_train_new.describe() , 1)

,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attriton
count,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,...,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0
mean,0.2,0.8,0.5,0.6,0.3,0.5,0.4,0.0,0.5,0.6,...,0.0,0.3,0.3,0.5,0.6,0.2,0.2,0.1,0.2,0.2
std,0.4,0.3,0.3,0.3,0.3,0.3,0.3,0.0,0.3,0.4,...,0.0,0.3,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.4
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.0,0.5,0.3,0.5,0.0,0.2,0.2,0.0,0.2,0.3,...,0.0,0.0,0.2,0.3,0.3,0.1,0.1,0.0,0.1,0.0
50%,0.0,1.0,0.5,0.5,0.2,0.5,0.4,0.0,0.5,0.7,...,0.0,0.3,0.2,0.5,0.7,0.1,0.2,0.1,0.2,0.0
75%,0.0,1.0,0.8,1.0,0.5,0.8,0.6,0.0,0.8,1.0,...,0.0,0.3,0.4,0.5,0.7,0.2,0.4,0.1,0.4,0.0
max,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [38]:
print(df.shape) 
print(x.shape)
print(x_train.shape)
print(x_test.shape) 
print(y.shape)
print(y_train.shape)
print(y_test.shape)

(1470, 36)
(1470, 35)
(1176, 35)
(294, 35)
(1470,)
(1176,)
(294,)